/*BANANA     #ffbc5b     */
/*METAL #121f28*/

body {
  font-size: 16px;
  color: #fff;
  background-color: #cccccc;
  /*background-image: linear-gradient(#c3cbd6, #748b6f);*/

  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

#loading{
  padding-top: 40px;
  padding-bottom: 40px;
}

/** HEADER **/
#header-nav {
  background-color: #121f28;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/babuinLable.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: -20px 15px 0px 0;
}

.navbar-brand {
  padding-top: 20px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffbc5b;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #c3cbd6;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand h5 {
  margin-top: 3px;
  position: relative;
  left:27px;
  margin-bottom: 0px;
}
#navbarPhrase{
  margin-top: 10px;
  font-size: 0.8em;
  font-style: italic;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  margin-left: 30px;
  color: #ffbc5b;
  text-align: center;
}
#nav-list a:hover {
  background: #cccccc;
}

#nav-list a  {
  font-size: 1.4em;

  }
#nav-list  i {
  font-size: 1.3em;

}

hr {
  border: 1px dashed #ffbc5b;
}

#navbarToggle{
  border: 1px solid #ffbc5b;
    background-color: #121f28;
}
#navbarToggle i {
  color: #ffbc5b;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  font-size: 1.4em;
  color: #ffbc5b;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #121f28;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 15px;
}
#address {
  font-style: italic;
}

/* END FOOTER */

#main-content{

  background-color: #fff;
  margin-top: -30px;
  margin-bottom: -30px;
}

/* HOME PAGE */
#secret-button{

  position: absolute;
  top: 50%;
  left:19%; 
   width: 4%;
  height: 5%;
}

.container .jumbotron {
  position: relative;
  top: 15px;
  /*box-shadow: 0 0 30px #121f28;*/
  border: 2px solid #ffbc5b;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #ffbc5b;
  overflow: hidden;
  max-width: 500px;
  min-width: 300px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/hechnya.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/oleg.jpg') no-repeat;
  background-position: center;
  background-size: 110%;
}
#map-tile {
    background: url('../images/lavr.jpg') no-repeat;
  background-position: center;
  background-size: 100%;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #121f28;
  color: #fff;
  opacity: .8;
}
/* END HOME PAGE */

/* BABUIN POETRY PAGE */
#poet-container{
    background-image: url('../images/poet.jpg');
    max-width: 800px;
   background-position-x: center;   
    background-size:  800px 100%;
    background-attachment: fixed;
}
.poet-item-tile {
  margin-top:  30px;
  color: #121f28;
}
.poet-item-content{
    padding-left: 5%;
}
.poet-item-author{
  padding-left: 5%;
  padding-top: 20px;
}
.poet-item-title{
  padding-left: 5%;
}
.poet-item-details{
  padding-left: 15%;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END BABUIN POETRY PAGE */

/* BABUIN LIST PAGE */

#babuin-list-title{
  text-shadow: 1px 1px 1px #222;
  margin-bottom: 40px;
  margin-top:30px;
  font-size: 1.4em;
  background: #222;
  border: 1px solid #d05663;
}

.babuin-item-tile hr {
  width: 80%;
}

.babuin-item-tile {
  margin-bottom: 25px;
  font-size: 1.3em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;

}
#babuin-list-title div{
  font-style: italic;
  margin-bottom: 5px;
}

.babuin-item-photo {
  position: relative;
  border: 2px solid #222; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 200px;
  box-shadow: 0 0 50px #D05663;
}
.babuin-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.babuin-item-description {
  padding-right: 30px;
   color: #2a403d;
}
#babuin-hazard-lvl {
  text-shadow: 0px 0px 8px #D05663;
}
h3.babuin-item-title {
  margin: 0 0 10px;
}
.babuin-item-details {
  font-size: .9em;

}
  .babuin-item-photo img{
    width: 100%;
    height: auto;

  }

/* END BABUIN LIST PAGE */

/*BABUIN TECH*/
#tech-container{
  position: relative;
padding-top: 50px;
padding-bottom: 20px;
}

#tech-container > img{
  width:100%;

}
#tech-container button{
  font-size:19px;
  position: absolute;
  bottom: 90px;
  left: 100px;
  width: 200px;
  height: 60px;
  background-color: #ffbc5b;
}
/*END BABUIN TECH*/


/********** EXTRALarge devices only **********/
@media (min-width: 1200px) {
  /* Header */

  /* End Header */
}

/********** LARGE devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

  /* Home Page */

  /* End Home Page */

}

/********** MEDIUM devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
#nav-list a {
  margin-left: 114px;
}
    /* End Header */
  /* Home Page */
#map-tile{
  margin-left: 80px;
}
  /* End Home Page */
 #babuin-item-photo{
  float: left;
 }

}

/********** SMALL devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }


  #nav-list a {
  margin-left: 114px;
}

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }


  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }


  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 522px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



